
/* Template Struktur */
body, html, .scrollPage {
    background-image: none !important;
}
body,html{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth; /* Scroll smooth */
    overflow-y: auto;
}
.scrollPage {
    /* seluruh layar*/
    margin: 0;
    padding: 0;
    background-color: rgb(237, 225, 211);
    padding-top: 5%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    height:89%;
    width: 100%;
 

}




 /* Bagian Header */
header {
    display: flex;
    position: fixed;
    height: 10%;
    width: 100%;
    background-color:rgb(237, 225, 211); 
    justify-content: end;
    z-index: 10;


  
}

header img {
    height: 100%;
    margin-right: auto;
    padding-left: 10px;
    transition: 0.5s;
    align-self: center;
}

header div {
    background-color: rgba(255, 255, 255, 0);
    height: 100%;
    width: 10%;
    border: 0;
    font-size: 15px;
    display: flex;
    font-weight: 700;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    transition: 0.5s;
    margin: 0;
    justify-content: center;


}
header div p{
    align-self: center;
    justify-self: center;
    padding: 5px 20px;
}

header .homeButton {
    height: 50%;
    width: auto;
    align-self: center;
    justify-self: center;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}


/* Bagian Utama */


.content {
    /* Konten Utama */
    width: 100%;
    height: 62%;
    display: flex;
    flex-direction: column;
    max-width: 100vw; 
}

.content .upper {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 82%;
    align-items: center;
    position: relative;
    overflow: hidden; 
}


#dynamicImage{
    margin: 10%;
    width: 65%;
    height: auto;
    max-width: 100vw;
    opacity: 0;
    transition: transform 1.1s ease-in-out, opacity 1s ease-in-out; 
    transform: translate(100%,-20%);
    z-index: 1;
}

#dynamicImage.active {
    opacity: 1; 
    transform: translate(0,-20%); 
}

#description.active {
    opacity: 1;
    transform: translate(0,90%);
}

#description.inactive {
    opacity: 0;
}
#dynamicImage.inactive {
    opacity: 0;
    transform: translate(-100%,-20%);
}

#description{
    position: absolute;
    font-size: 44px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    color: black;
    width: 50%;
    z-index: 3;
    opacity: 0; 
    transition: transform 1.1s ease-in-out, opacity 1.1s ease-in-out; 
    transform: translate(120%,90%);
    max-width: 100vw;
}



.bottom{
    width: 100%;
    height: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonTemp{
    height: 64px;
    width: 200px;
    background: rgba(255, 255, 255, 0.3); 
    border: 1px solid grey(255, 255, 255, 0.3); 
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    color: black;
    font-size: 22px;
    border-radius: 12px; 
    transition: all 0.3s ease;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;  
}

.buttonTemp:hover {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 24px rgba(0, 0, 0, 0.2); 
    transform: translateY(-2px);
}

.buttonTemp:active {
    transform: translateY(2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}
#dynamicImage:hover{
    filter: drop-shadow(2px 2px 3px black);
}

header button:hover{
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 24px rgba(0, 0, 0, 0.2); 
}
header button:active{
    transform: translateY(2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header img:hover{
    transform: translateY(5px);
    filter: drop-shadow(10px 10px 400px rgb(248, 248, 248));
}
header img:active{
    transform: translateY(2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    header {
        justify-content: space-between; /* Mengatur agar elemen lebih terdistribusi */
        width: 100vw;
        margin: 0;
        padding: 0;
    }
    * {
        box-sizing: border-box; /* Pastikan semua elemen menghitung padding dan border */
    }
    body {
        margin: 0;
        height: auto;
        padding: 0;
        background-image: url('img/backg.png');
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat;
        overflow-x: hidden; /* Hilangkan scroll horizontal */
    }
    

    header button {
        width: 20%; /* Tombol lebih besar di layar kecil */
        font-size: 16px;
    }

    main header img {
        height: 90%;
        padding-left: 10px; /* Lebih kecil di layar mobile */
    }

    main {
       height: 92%;
       width: 100%;
       
    }

    main .content .upper img {
        margin: 10%;
        width: 65%;
        height: auto;
        max-width: 100vw;
        opacity: 0;
        transition: transform 1.1s ease-in-out, opacity 1s ease-in-out; 
        transform: translate(100%,-600%);
        z-index: 1;
    }

    main .content .upper p {
        font-size: 24px; /* Ubah ukuran font agar lebih kecil di layar kecil */
        width: 70%; /* Perluas paragraf untuk layar lebih kecil */
    }

  .buttonTemp {
        width: 100%; /* Tombol lebih lebar di layar kecil */
        font-size: 18px; /* Ukuran font lebih kecil untuk layar kecil */
    }
}


